<div class="bg-white p-4 rounded shadow-lg border-grey-400">
  <form method="post" enctype="multipart/form-data" action="/upload">
    <input name="file" type="file" multiple /> <button type="submit">Upload</button>
  </form>
</div>
